- title "Log in"

%h3 
  healthyUs is a meal-planning software that makes healthy meal decisions easy 
  for the entire family.  Our product simplifies family meal decisions and creates 
  grocery lists to keep you on budget.  Unlike other fitness applications, 
  we take the needs of all family members into account when providing meal 
  suggestions.  And, unlike other family meal planners, we help all members 
  of the family achieve their individual fitness goals.  
  %br
  %br
  To top it off, we do this all for FREE!

%p== Don't have an account? #{link_to "Sign up!", signup_path}

- form_tag sessions_path do
  %p
    = label_tag :login, "Username or Email Address"
    %br
    = text_field_tag :login, params[:login]
  %p
    = label_tag :password
    %br
    = password_field_tag :password
  %p
    = submit_tag "Log in"
