- title "Sign up"

%p== Already have an account? #{link_to "Log in", login_path}.

- semantic_form_for @user do |f|
  = f.error_messages
  - f.inputs do
    %p
      = f.input :username
    %p
      = f.input :email
    %p
      = f.input :password
    %p
      = f.input :password_confirmation
    %p
      = f.input :male, :as => :radio, :label => "Gender", :collection => [["Male", true], ["Female", false]]
  %p
  = f.buttons