<% form_for @meal do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :ingredients %><br />
    <%= text_field_with_auto_complete :meal, :ingredient_name, {:size => 30}, { :url => "/ingredient.js", :method => :get, :param_name => 'search'} %>
  </p>
  <p>
    <%= f.label :instructions %><br />
    <%= f.text_area :instructions %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
