- form_for @meal do |f|
  = f.error_messages
  %p
    = f.label :title
  %p
    = f.text_field :title
  - f.fields_for :meal_steps do |b|
    %p
      = b.label :step
      = b.text_field :step
      = b.check_box :_destroy
      = b.label :_destroy, "Delete"
  - f.fields_for :meal_tags do |k|
    %p
      = k.label :name, "Tag"
      = k.text_field :name
      = k.check_box :_destroy
      = k.label :_destroy, "Delete"
  %p
    = f.submit "Create Meal"