- form_for @meal do |f|
  = f.error_messages
  %p
    = f.label :title
    = f.text_field :title

  - f.fields_for :meal_steps do |builder|
    = render "meal_step_fields", :f => builder
  %p= link_to_add_fields "Add Step", f, :meal_steps
  - f.fields_for :meal_tags do |builder|
    = render "meal_tag_fields", :f => builder
  %p= link_to_add_fields "Add Tag", f, :meal_tags
  %p
    = f.submit "Save Meal"