- title "Meals"

%p
  %h3 
    Create a
    = link_to "new meal", new_meal_path
    !

- for meal in @meals
  %p 
    %h3 
      Title:
      = h meal.title
  %p
    %h3 Steps:
    - for step in meal.meal_steps
      %p= h step.name
  %p
    %h3 Tags:
    - for tag in meal.meal_tags
      %p= h tag.name
      
  = link_to 'Show', meal
  = link_to 'Edit', edit_meal_path(meal)
  = link_to 'Destroy', meal, :confirm => 'Are you sure?', :method => :delete


