- title "Meals"

%table
  %tr
    %th Title
  - for meal in @meals
    %tr
      %td= h meal.title
      %td= link_to 'Show', meal
      %td= link_to 'Edit', edit_meal_path(meal)
      %td= link_to 'Destroy', meal, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Meal", new_meal_path
