!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"}
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes', 'flits', :cache => "all"
    = yield(:head)
  
  %body
    #logo
      =image_tag("hu_logo.png")
    - if logged_in?
      #nav
        %ul
          %li= link_to "Menu", root_url
          %li= link_to "Meals", meals_url
          %li= link_to "Ingredients", ingredients_url
          %li= link_to "Blog", flits_url
          %li= link_to "Profile", root_url
          %li= link_to "Logout", logout_path
      .clear
      #ads
        %h3 Please Visit our Sponsors
        .adbox
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .adbox
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .adbox
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    #content
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      - if show_title?
        %h1=h yield(:title)
      
      = yield
      .clear
      